@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-space-mono);
}

* {
  box-sizing: border-box;
}

body {
  background: #ffffff;
  color: #000000;
  font-family: var(--font-space-mono), monospace;
}

html {
  scroll-behavior: smooth;
}
